
*.swp
*.swo
*.swn
*.swm
node_modules/
config/
!php/config/
build/
scripts/*.sql
scripts/*.dump
mock_data/
import_data/
testing_data/
import/
export/
.env
*.sqlite
*.DS_Store
t/integration/test.csv
prisma/uaa.csv
.env.dev
prisma/app.sqlite-shm
prisma/app.sqlite-wal
node_modules/
